@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  max-width: 480px;
}

.main {
  font-family: "Roboto", sans-serif;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: "Shrikhand", "cursive";
  font-size: 9vw;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer {
  font-family: "Roboto", "cursive";
  font-weight: 100;
  padding: 18px 0px 18px 18px;
  max-width: 480px;
  background-color: #353535;
}
.footer ul {
  padding: 0;
  list-style: none;
  margin-top: 12px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul i {
  color: white;
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
.footer ul .fa-handshake {
  transform: rotate(-45deg);
}
.footer ul a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.footer .footer__link--main {
  display: flex;
}
.footer__logo {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
  color: white;
}

.fa-heart:hover {
  animation: fill 0.45s ease-in-out;
  opacity: 1;
  background: radial-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  cursor: pointer;
}

.place {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  font-weight: 600;
  padding: 12px 0px;
}
.place .fa-map-marker-alt {
  margin-right: 5%;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore__p1 {
  padding: 30px 48px 18px 48px;
}
.explore__p2 {
  font-weight: 300;
  padding: 0px 20px 30px 20px;
}
.explore__btn {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  margin-bottom: 42px;
  color: white;
  width: 60%;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0;
  border-radius: 100px;
  font-weight: bold;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.explore__btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.tuto {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.tuto > h2 {
  margin: 28px 0px 18px 12px;
}
.tuto__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;
}
.tuto__step {
  width: 75%;
  margin: 0px 10px 0px 10px;
  display: flex;
  padding: 24px;
  margin-bottom: 18px;
  border-radius: 25px;
  background-color: #f6f6f6;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.tuto__step > .fas {
  color: #7e7e7e;
}
.tuto__step > .fas.fa-store {
  color: #9356DC;
}
.tuto__step i {
  padding-left: 12px;
}
.tuto__number {
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 0;
  position: absolute;
  left: -9px;
}
.tuto__text {
  padding-left: 24px;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 36px;
}
.restaurants__title {
  margin: 28px 0px 18px 12px;
  padding: 36px 0px 6px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0px 12px 18px 12px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card__img {
  display: inline-flex;
  position: relative;
}
.card__img img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
}
.card__new {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: center;
  color: #1c987a;
  font-weight: bold;
  background-color: #99E2D0;
  padding: 2% 3%;
  border: 0;
  border-radius: 4px;
  font-size: 3vw;
}
.card__footer {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  border: transparent solid 0px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.card__text {
  flex: 1;
}
.card__text > h3 {
  padding: 12px 0px 3px 12px;
}
.card__text > p {
  padding: 0px 0px 12px 12px;
}
.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: x-large;
  border: 0 transparent solid;
  cursor: pointer;
}

.picture img {
  width: 100%;
  object-fit: cover;
}

.header_menus {
  position: relative;
  display: flex;
  align-items: center;
}
.header_menus__title {
  color: red;
}
.header_menus a {
  position: absolute;
  color: #353535;
  left: 5vw;
  bottom: 5vw;
  font-size: 5vw;
}

.main--menus {
  background-color: #f6f6f6;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: auto;
  border-radius: 45px 45px 0px 0px;
  position: relative;
  bottom: 14vw;
  padding-left: 18px;
}
.menu__header {
  font-family: "Shrikhand", "cursive";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 42px 14px 0px;
}
.menu__title {
  font-size: 7vw;
  font-weight: 100;
}
.menu__icon {
  display: flex;
  align-items: center;
  font-size: 7vw;
}

.submenu {
  display: flex;
  flex-direction: column;
}
.submenu__title {
  padding-bottom: 4px;
  padding-top: 30px;
  font-weight: 300;
  font-size: 4vw;
  text-transform: uppercase;
}
.submenu__border {
  border: #99E2D0 solid 2px;
  width: 8.4vw;
}
.submenu__items {
  padding-top: 18px;
  margin-right: 18px;
}
.submenu__items .item01 {
  animation: opacity 1.5s ease-in-out;
}
.submenu__items .item02 {
  animation: opacity 2s ease-in-out;
}
.submenu__items .item03 {
  animation: opacity 2.5s ease-in-out;
}
.submenu__item {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  margin-bottom: 12px;
  overflow: hidden !important;
  cursor: pointer;
}
.submenu__item:hover .submenu__tick {
  transform: translateX(-64px);
}
.submenu__item:hover .submenu__price {
  transform: translateX(-44px);
}
.submenu__item:hover .submenu__icon {
  transform: rotate(360deg);
}
.submenu__text {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-right: 12px;
  padding: 6px 12px 10px 12px;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenu__text1 {
  padding-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenu__text2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenu__price {
  font-weight: bold;
  color: #757575;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 5%;
  transition: transform 330ms ease-in-out;
  position: relative;
  right: -13%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenu__tick {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 15%;
  border-radius: 0px 16px 16px 0px;
  transition: transform 330ms ease-in-out;
  right: -64px;
  position: relative;
}
.submenu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4vw;
  rotate: 0deg;
  transition: transform 500ms ease-in-out;
}
.submenu__icon i {
  transform: rotate(0 deg);
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}
.order__btn {
  transition: all 0.3s ease-in-out;
  color: white;
  width: 60%;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0;
  border-radius: 100px;
  font-weight: bold;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.order__btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
