.picture img {
  width: 100%;
  object-fit: cover;
}

.header_menus {
  position: relative;
  display: flex;
  align-items: center;
  &__title {
    color: red;
  }
  & a {
    position: absolute;
    color: $quaternary-bg-color;
    left: 5vw;
    bottom: 5vw;
    font-size: 5vw;
  }
}

.main--menus {
  background-color: $tertiary-bg-color;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: $tertiary-bg-color;
  height: auto;
  border-radius: 45px 45px 0px 0px;
  position: relative;
  bottom: 14vw;
  padding-left: 18px;
  &__header {
    font-family: "Shrikhand", "cursive";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px 42px 14px 0px;
  }
  &__title {
    font-size: 7vw;
    font-weight: 100;
  }
  &__icon {
    display: flex;
    align-items: center;
    font-size: 7vw;
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  &__title {
    padding-bottom: 4px;
    padding-top: 30px;
    font-weight: 300;
    font-size: 4vw;
    text-transform: uppercase;
  }
  &__border {
    border: $tertiary-color solid 2px;
    width: 8.4vw;
  }
  &__items {
    padding-top: 18px;
    margin-right: 18px;
    & .item01 {
      animation: opacity 1.5s ease-in-out;
    }
    & .item02 {
      animation: opacity 2s ease-in-out;
    }
    & .item03 {
      animation: opacity 2.5s ease-in-out;
    }
  }
  &__item {
    background-color: $primary-bg-color;
    border-radius: 16px ;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden !important;
    cursor: pointer;
  }
  &__item:hover &__tick {
    transform: translateX(-64px);
  }
  &__item:hover &__price {
    transform: translateX(-44px);
  }
  &__item:hover &__icon {
    transform: rotate(360deg);
  }
  &__text {
    display:flex;
    flex-direction: column;
    padding-top: 6px;
    padding-right: 12px;
    padding: 6px 12px 10px 12px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__text1 {
    padding-bottom: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
  }
  &__text2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    font-weight: bold;
    color: #757575;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 5%;
    transition: transform 330ms ease-in-out;
    position: relative;
    right: -13%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
  }
  &__tick {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    width: 15%;
    border-radius: 0px 16px 16px 0px;
    transition: transform 330ms ease-in-out;
    right: -64px;
    position: relative;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
    rotate: 0deg;
    transition: transform 500ms ease-in-out;
  }
  &__icon i {
    transform: rotate(0 deg);
  }
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
  &__btn {
    transition: all 0.3s ease-in-out ;
    @include button;
  }
}
.order__btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out ;
 }