$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-bg-color: #ffffff;
$secondary-bg-color: #eaeaea;
$tertiary-bg-color: #f6f6f6;
$quaternary-bg-color: #353535;
$explore-icon-color: #7e7e7e;

@mixin button {
  color: white;
  width: 60%;
  background: linear-gradient($secondary-color, $primary-color);
  border: 0;
  border-radius: 100px;
  font-weight: bold;
  padding: 18px;
}





.body {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 480px;
}

.main {
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 5px;
}

.place {
  display: flex;
  justify-content: center;
  background-color: $secondary-bg-color;
  color:$quaternary-bg-color;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 18px;
  .fa-map-marker-alt {
    margin-right: 5%;
  }
}

.explore {
  background-color: $tertiary-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__p1 {
    padding: 30px 48px 18px 48px;
  }
  &__p2 {
    font-weight: 300;
    padding: 0px 20px 24px 20px;
  }
  &__btn {
    margin-bottom: 42px;
    @include button;
  }
}


.tuto {
  display:flex;
  flex-direction: column;
  > h2 {
    margin: 28px 0px 18px 12px;
  }
  &__step {
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-around;
    padding: 24px 0px 24px 0px;
    margin-bottom: 18px;
    border-radius: 25px;
    background-color: $tertiary-bg-color;
    font-weight: 500 ;
    > .fas {
      color: $explore-icon-color;
      &.fa-store {
        color: $primary-color;
      }
    }
  }
  &__number {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0;
    position: absolute;
    left: 10px;
  }
}


.footer {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 480px;
  background-color: $quaternary-bg-color;

  ul {
    padding : 0;
  }

  &__logo {
    font-family: "Shrikhand", "cursive";
    font-weight: 100;
    color: white;
  }
}

header {
  display: flex;
  justify-content: center;
}


img {
  height: 50px;
  width: 150px;
}
